*,*::before, *::after{
    box-sizing: border-box;
}
body{
    
    background-color: aqua;
}

.container-grid{
    border-radius: 20px;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4,6em);
    grid-template-rows: minmax(7rem,auto) repeat(5,6em);
    justify-content: center;
    align-content: center;
}
.span-two{
    grid-column: span 2;
}

.input-container{
   
    grid-column: 1/-1;
    background: rgb(28, 24, 24,.85);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:space-around;


    
}

.input-container .previous-input{
    /* margin-top: 15px;
    margin-right: 20px;
    text-align: end;
     */
     font-size: 30px;
    color: rgb(234, 220, 220,.80);
    
}

.current-input{
    /* margin-right: 20px;
    text-align: end;
    font-size: 40px;
    color: white; */
    font-size: 40px;
    color: white;

}


button{
    cursor: pointer;
    background-color:rgba(40, 77, 223, 0.5);
    font-size: 20px;
    border-radius: 2px;

}

button:hover,button:focus{
    background-color: rgb(170, 191, 250);
}